# Logs
logs
*.log*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.DS_Store


.nuxt
.nitro
.cache
.output
.env
.idea
yarn.lock
